{% extends 'base.html.twig' %}

{% block title 'Create a post' %}

{% block body %}
	<section class="container my-5">
		<h1>Edit post -
			{{ post.title }}</h1>

		{{ include('common/_form.html.twig') }}

	</section>
{% endblock %}
